<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Eth0a</title>
  </head>
  <body>
    <div class="app">
      <div class="game">
        <h1 class="title">Eth0a</h1>
        <canvas class="" id="game-canvas"></canvas>
      </div>

      <div class="chat">
        <ul class="chat__messages" id="messages"></ul>
        <div class="chat__input">
          <form id="form" class="chat__form">
            <textarea id="input" class="chat__input"></textarea>
            <button type="submit">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const getUsername = () => localStorage.getItem("eth0a_username");
    const setUsername = (username) =>
      localStorage.setItem("eth0a_username", username);

    while (!getUsername()) {
      const usernameInput = prompt("Saisissez votre nom d'utilisateur ");
      if (usernameInput) {
        setUsername(usernameInput);
      }
    }

    const form = document.getElementById("form");
    const input = document.getElementById("input");

    const messages = document.getElementById("messages");

    form.addEventListener("submit", function (e) {
      e.preventDefault();
      if (input.value) {
        socket.emit("chat:message", {
          msg: input.value,
          username: getUsername(),
        });
        input.value = "";
      }
    });

    socket.on("chat:message", function ({ msg, username }) {
      const messageEl = document.createElement("li");
      messageEl.classList.add("message");
      messageEl.textContent = msg;

      const usernameEl = document.createElement("span");
      usernameEl.classList.add("message__username");
      usernameEl.textContent = username;

      messages.appendChild(usernameEl);
      messages.appendChild(messageEl);
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script>
</html>
