html {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    --chat-width: 30%;
}

.app{
    display:flex;
    flex-direction:row;
    min-height: 100vh;
    width: 100%;
}

.game{
    display:flex;
    height: 100%;
    width: calc(100% - var(--chat-width));
}

.chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    max-height: 100vh;
    width: var(--chat-width);
    border-left: 1px solid;
}

.chat__messages{
    height: 90vh;
    max-height: 90vh;
    overflow: scroll;
}

.chat__form{
    display: flex;
    width:100%;
}

.chat__input {
    height:10vh;
    flex-grow: 1;
}

.chat__submit{
    min-width: 30%;
}

.message {
    padding: 12px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}
/* 
.w-100{
    width: 100%;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.h-100 {
    height: 100%;
}

.h-80{
    height: 80%;
}

.fill {
    width: 100%;
    height: 100%;
}

.m-auto{
    display: flex;
    margin: auto;
}

.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: column;
}



.rows{
    display: flex;
    flex-direction: row;
} */